.title {
  max-width: 1276px;
  padding-top: 60px;
  margin: 0 auto;
  width: calc(100% - 30px);
  display: flex;

  > input {
    border: 0;
    height: 41px;
    width: calc(65% - 12px - 20px);
    padding: 0 10px;
    font-size: 28px;
    font-weight: 700;
    background-color: #f9f9f9;
    color: #252525;

    ::placeholder {
      font-size: 28px;
      color: #747474;
    }
    
    :focus {
      outline: none;
    }
  }

  .title__btn {
    display: flex;
    width: calc(35% + 12px);
    font-size: 20px;
    font-weight: 500;
    flex-direction: row-reverse;

    button {

      &:first-child {
        border-radius: 4px;
        width: 50%;
        max-width: 84px;
        height: 35px;
        cursor: pointer;
        border: 0;
        background-color: #2e55e7;
        color: white;
      }
    }
  }
}

@media (max-width: 460px) {
  .title {
    padding-top: 0;
    width: calc(100vw - 18px * 2);

    > input {
      width: 100%;  
      //인풋은 2줄이 불가능함..
    }

    .title__btn {
      display: none;
    }
  }
}