.question {
  display: flex;
  flex-direction: column;

  width: 100%;
  min-height: 88px;

  padding-left: 66px;
  border-radius: 5px;
  border: 0px solid #b5b5b5;
  border-left: 17px solid #2e55e7;
  outline: none;

  background-color: #fff;
  margin-bottom: 12px;
  padding-right: 16px;
  img {
    cursor: pointer;
  }
  .content__area {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 88px;
    .content {
      align-self: center;
      font-family: 'Noto Sans KR';
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 23px;

      color: #000000;

    }
  }
  .input {
    position: relative;
    height: auto;
    margin-bottom: 20px;
    .line {
      width: 95%;
      height : 0px;
      border: 1px solid #D9D9D9;
    }
    textarea {
      width: 95%;
      max-height: 300px;
      border: none;
      outline: none;
      resize: none;
      overflow : auto;

      box-sizing: border-box;

      font-family: 'Noto Sans KR';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;

      color: #000000;

      &::-webkit-scrollbar {
        width: 6px;
        background: #DDDDDD;
        border-radius: 20px;
        display: block;

      }

      &::-webkit-scrollbar-thumb {
        width: 6px;
        background: #2E55E7;
        border-radius: 20px;
      }

      margin-top : 20px;
      padding-right: 35px;
      padding-left: 0px;

    }
  }
}