.view {
  ::-webkit-scrollbar {
    display: none;
  }

  max-height: calc(100% - 60px - 20px - 40px - 68px);
  // margin: 10px 0;
  overflow: auto;

  > li {
    margin: 10px auto;
    // min-height: calc(88px - 32 * 2px);
    // max-height: calc(133px - 32 * 2px);
    min-height: 88px;
    max-height: 133px;
    // margin-top: 20px;
    margin-bottom: 10px;
    border: none;
    border-left: 12px solid #2e55e7;
    background-color: #fff;
    font-weight: 700;
    color: #252525;
    font-size: 1.2rem;
    // display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 8px;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.1);
    padding: 32px 50px;
    outline: none;
    overflow: auto;
    width: calc(100% - 128px);
    max-width: 1276px;
  }
}