.banner {
  width: 100vw;
  height: 380px;
  background-color: #2e55e7;
}
.banner__area {
  position: relative;
  background-color: #2e55e7;
  // width: calc(100% - 437px);
  width: 100%;
  max-width: 1100px;
  margin-left: 437px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto; 

  >h1 {
    width: 100%;
    margin-top: 83px;
    margin-bottom: 20px;
    color: #fff;
    line-height: 45px;
    text-align: left;
    z-index: 1;
    font-size: 2rem;
  }

  >h3 {
    width: 100%;
    color: #fff;
    margin: 0;
    font-weight: 400;
    z-index: 1;
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
  }

  .banner__images {
    width: 100vw;
    height: 0;
    > img {
      position: absolute;

      &:first-child {
        top: 48px;
        left: 35%;
      }
      
      &:nth-child(2) {
        top: 120px;
        left: 50%;
      }

      &:nth-child(3) {
        top: 200px;
        left: 65%;
      }
      &:nth-child(4) {
        top: 71px;
        left: 70%;
      }

      &:last-child {
        top: 228px;
        left: 40%;
      }
    }
  }

  >img {
    position: absolute;
    z-index: 0;

    &:first-child {
      top: 48px;
    }
  }
}

@media (max-width: 1280px) {
  .banner__area {
    margin: 0;
    margin-left: 10%;

    .banner__images {
      // > img {
      //   &:first-child {
      //     left: 110%;
      //   }
      // }
    }
  }
}

@media (max-width: 768px) {
  .banner__area {
    // margin: 0;
    // margin-left: 10%;

    .banner__images {
      > img {
        // &:first-child {
        //   left: 110%;
        // }
      }
    }
  }
}

@media (max-width: 460px) {
  .banner {
    height: 416px;
  }
  .banner__area {
    // margin: 0;
    // margin-left: 10%;
    > h1 {
      margin-top: 36px;
      margin-bottom: 0;
    }

    >h3 {
      margin: 0;
    }

    .banner__images {
      > img {
        &:first-child {
          width: 81px;
          height: 81px;
          top: 110%;
          left: 5%;
        }

        &:nth-child(2) {
          width: 113px;
          height: 91px;
          top: 150%;
          left: 25%;
        }

        &:nth-child(3) {
          width: 61px;
          height: 85px;
          top: 190%;
          left: 50%;
        }

        &:nth-child(4) {
          width: 85px;
          height: 85px;
          top: 140%;
          left: 55%;
        }

        &:last-child {
          top: 200%;
          left: 10%;
          width: 78px;
          height: 91px;
        }
      }
    }
  }
}