.react-datepicker__input-container > input {
  width: 100%;
  border: 0px solid transparent;
  padding: 0;
  height: 40px;
  font-size: 1.1rem;
}

.react-datepicker__input-container {
  width: calc(100% - 40px);
}

.react-datepicker__current-month {
  color: white;
  height: 40px;
  line-height: 30px;
}

.react-datepicker__navigation--next,
.react-datepicker__navigation--previous {
  top: 8px;
}

.react-datepicker__day--selected {
  border-radius: 50%;
  background-color: #2e55e7;
}

.react-datepicker__header {
  background-color: #2e55e7;
  border-bottom: 0;
}

.react-datepicker__day-names {
  background-color: white;
}

.react-datepicker__day-name {
  color: black;
  font-weight: 700;
}
.react-datepicker__input-container > input {
  font-size: 0.83em;
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 0 10px 0 30px;
}