.search__area {
  min-height: calc(100vh - 60px - 151px);
  width: 100%;
  max-width: 1276px;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  margin: 0px auto 150px;
  padding: 60px 20px 0;
  align-items: center;
  justify-content: space-between;

  > h1 {
    height: 40px;
    width: 100%;
    padding-top: 20px;
    font-size: 28px;
    background-color: #f9f9f9;
    font-weight: 700;
    margin-bottom: 48px;
    display: flex;
  }

  > button {
    display: none;
    border: 0;
    height: 12px;
    font-weight: 700;
  }

  .search__flex {
    display: flex;
    width: 100%;
    height: 100%;
  }
  
  .search__left {
    display: grid;
    flex-wrap: wrap;
    gap: 12px;
    width: calc(35% - 21px);
    margin-right: 21px;
    height: 100%;

    > input {
      width: 100%;
      border: 1px solid #2e55e7;
      border-radius: 8px;
      font-size: 1rem;
      padding: 0 16px;
      height: 45px;
      font-weight: 700;
      margin-bottom: 12px;
  
      &:focus {
        outline: 0;
      }
  
      &::placeholder {
        font-weight: 400;
      }
    }

    > img {
      position: absolute;
      right: calc(35% - 21px);
    }
  }
  
  .search__right {
    width: 65%;
    min-height: calc(100vh - 60px - 151px);
  }

  .search__mobile__filter {
    display: none;

    .search__mobile__background {
      width: 100vw;
      height: 100vh;
      position: fixed;
      opacity: 0.75;
      background-color: #252525;
      top: 0;
      right: 0;
      z-index: 7;
    }

    .search__mobile__whiteground {
      position: fixed;
      width: 40%;
      height: 100vh;
      background-color: #fff;
      top: 0;
      right: 0;
      z-index: 8;

      .search__mobile__title {
        position: relative;
        padding: 24px; 
        
        > button {
          position: absolute;
          top: 24px;
          right: 24px;
          border: 0;
          background-color: transparent;
          width: 24px;
          height: 24px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .search__area {
    > h1 {
      width: 80%;
      font-size: 1.5rem;
      padding-top: 24px;
    }

    > button {
      display: flex;
    }

    .search__flex {
      .search__left {
        display: none;
      }
      
      .search__right {
        width: 100%;
      }
    }
    
    .search__mobile__filter {
      display: block;
    }
  }
}