.search__area {
  min-height: calc(100vh - 60px - 151px);
  width: 100%;
  max-width: 1276px;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  margin: 0px auto 150px;

  > h1 {
    height: 40px;
    width: 100%;
    padding-top: 20px;
    font-size: 28px;
    background-color: #f9f9f9;
    font-weight: 700;
    margin-top: 60px;
    display: flex;
    margin-bottom: 48px;
  }

  .search__flex {
    display: flex;
    width: 100%;
    height: 100%;
  }
  
  .search__left {
    display: grid;
    flex-wrap: wrap;
    gap: 12px;
    width: calc(35% - 21px);
    margin-right: 21px;
    height: 100%;

    > input {
      width: 100%;
      border: 1px solid #2e55e7;
      border-radius: 8px;
      font-size: 1rem;
      padding: 0 16px;
      height: 45px;
      font-weight: 700;
      margin-bottom: 12px;
  
      &:focus {
        outline: 0;
      }
  
      &::placeholder {
        font-weight: 400;
      }
    }

    > img {
      position: absolute;
      right: calc(35% - 21px);
    }
  }
  
  .search__right {
    width: 100%;
    min-height: calc(100vh - 60px - 151px);
  }
}