@import '@/styles/DefaultValueVariable.scss';

.header {
  position            : fixed;
  top                 : 0;
  left                : 0;
  width               : 100%;
  height              : 80px;
  background-color    : $--color-background;
  border-bottom       : 1px solid $--color-gray-light;
  box-shadow          : 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 1px rgba(0, 0, 0, 0.2);
  z-index             : 7;

  .nav {
    display           : flex;
    justify-content   : space-between;
    align-items       : center;
    width             : 100%;
    max-width         : calc(1276px + (20px * 2));
    height            : 80px;
    padding           : 0 20px;
    margin            : 0 auto;
    z-index           : 7;

    .nav__logo {
      cursor: pointer;
    }

    .nav__menu {
      display         : flex;

      > li {
        font-size     : $--font-small;
        font-weight   : $--weight-bold;
        margin        : 0 40px 0 0;
        cursor        : pointer;

        &:last-child {
          margin      : 0;
        }
      }
    }

    .nav__form {
      position        : relative;
      display         : flex;
      align-items     : center;
      gap             : 10px;

      &.login {

        button {

          &:first-child {
            border            : 1px solid $--color-gray50;
            color             : $--color-gray50;
            background-color  : $--color-background;
          }
        }
      }

      button {
        color             : $--color-white;
        background-color  : $--color-main-blue;
        border            : 0;
      }
    }
  }

  .mobile__search {
    display: none;
  }

  .mobile__menu {
    position    : absolute;
    top         : 8px;
    right       : 18px;
    display     : none;

    &--active {
      position  : fixed;
      top       : 0;
      left      : 0;
      width     : 100vw;
      height    : 100vh;
      z-index   : 3;

      .mobile__background {
        width             : 100vw;
        height            : 100vh;
        background-color  : $--color-gray50;
      }

      .mobile__whiteground {
        position          : fixed;
        top               : 0;
        width             : 85%;
        height            : 100vh;
        background-color  : $--color-white;

        .mobile__logo {
          margin: 44px 24px 0;
        }

        .mobile__form {
          .mobile__user {
            display       : flex;
            align-items   : center;
            margin        : 24px;

            h3 {
              font-size   : $--font-regular;

              span {
                color     : $--color-main-blue;
              }
            }

            > button {
              height      : 22px;
              margin-left : 32px;
            }

            p {
              font-size   : $--font-small;
              color       : $--color-gray;
            }
          }


          .mobile__btn__area {
            margin-left   : 8px;
            margin-bottom : 44px;

            ul {
              display             : grid;
              grid-template-rows  : repeat(1, 1fr);
              gap                 : 32px;
              margin              : 0 16px;

              li {
                font-size         : $--font-small;
                font-weight       : $--weight-bold;

                &:last-child {
                  height          : 1px;
                  background-color: $--color-gray-light;
                }
              }
            }

            > button {
              width   : calc(100% - 24px * 2);
              height  : 44px;

              &:first-child {
                color             : $--color-white;
                background-color  : $--color-main-blue;
                border            : 0;
                margin-bottom     : 8px;
              }
            }
          }
          
          .mobile__menu__list {
            display               : grid;
            grid-template-columns : repeat(1, 1fr);
            gap                   : 28px;
            padding               : 0 24px;

            li {
              color               : $--color-black;
              font-size           : $--font-small;
              font-weight         : $--weight-bold;
              cursor              : pointer;
            }
          }
        }
      }
    }
  
    > img {
      top: 8px; 
    }

    > button {
      top               : 8px;
      right             : 18px;
      width             : 24px;
      height            : 24px;
      background-color  : transparent;
      border            : 0;
      margin            : 0;
      cursor            : pointer;

      &.mobile__menu--hamburger {
        > span {
          position          : absolute;
          right             : 4px;
          width             : 16px;
          height            : 1px;
          background-color  : $--color-black;

          &:first-child {
            top: 6px;
          }

          &:nth-child(2) {
            top: 12px;
          }

          &:last-child {
            top: 18px;
          }
        }
      }
    }
  }
}

@media (max-width: 930px) {
  .header {
    .search {
      input {
        width: 300px;
      }
    }
  }
}

@media (max-width: 768px) {
  .header {
    height: 155px;

    .nav {
      .nav__menu {
        width   : 0;
        height  : 0;
        opacity : 0;
      }
    }

    .search {
      display   : none;
    }
    .mobile__search {
      position  : relative;
      display   : block;

      input {
        width   : calc(100% - 40px);
        margin  : 0 20px;
      }

      img {
        right: 40px;
      }
    }
  }
}

@media (max-width: 460px) {
  .header {
    height: 44px;

    .nav {
      height: 44px;

      .nav__logo {
        img {
          width: 188px;
        }
      }

      .nav__menu {
        width   : 0;
        height  : 0;
        opacity : 0;
      }

      .nav__form {
        width   : 0;
        opacity : 0;
      }
    }

    .search {
      display   : none;
    }

    .mobile__search {
      position  : relative;
      display   : none;

      input {
        width   : calc(100% - 40px);
        margin  : 0 20px;
      }

      img {
        right: 40px;
      }
    }

    .mobile__menu {
      display                 : grid;
      grid-template-columns   : 24px 24px;
      gap                     : 12px;
    }
  }
}