.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 1rem;
  margin-block-start: 1.67em;
  margin-block-end: 1.67em;
  h5 {
    font-size: 1rem;
  }
  span {
    color: #737373;
    // margin: 1.67em 0;
    line-height: 1.67rem;
    font-size: 0.83rem;
    cursor: pointer;
  }
}