@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.banner {
    left: 0;
    top: 100px;
    height: 400px;
    background-color: #2E55E7;
    z-index: 1;
}

.swiper{
    --swiper-theme-color:#fff;
}
