@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.ModalWrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.2);
    z-index: 999999;
 
}
.ModalBorder {
    width: 400px;
    height: 500px;
    border-radius: 15px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999999;
}

.Content {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.Content > h1{
    text-align: center;
    font-family: 'Inter', sans-serif;
    margin: 40px;

}

.login-button{
    display: inline-block;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 40px;
    cursor: pointer;
    border: 1px solid blue;
    background-color: blue;
    color: #fff;
    border-radius: 10px;
}

input {
    margin-bottom: 50px;
    border-radius: 10px;
    border: 1px solid gray;
    width:250px;
    height:35px;
    font-size:12px;
  }

.close-button {
    font-size: large;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    margin: 10px;
    background-color: #fff;
    border: none;
    border-radius: 20px;
    float: right;
}
/* 
const Overlay = styled.div`
position: fixed;
width: 100%;
height: 100%;
top: 0;
bottom: 0;
left: 0;
right: 0;
background: rgba(0, 0, 0, 0.2);
z-index: 2;
`;



const ModalWrap = styled.div`
width: 600px;
height: fit-content;
border-radius: 15px;
background-color: #fff;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
`;

const CloseButton = styled.div`
float: right;
width: 40px;
height: 40px;
margin: 20px;
cursor: pointer;
i {
  color: #000000;
  font-size: 30px;
}
`;

const Contents = styled.div`
margin: 50px 30px;
h1 {
  text-align: center;
  color: blue;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 60px;
}
img {
  margin-top: 60px;
  width: 300px;
}
`;
const Button = styled.button`
font-size: 14px;
padding: 10px 20px;
border: none;
background-color: #ababab;
border-radius: 10px;
color: white;
font-style: italic;
font-weight: 200;
cursor: pointer;
&:hover {
  background-color: #898989;
}
`; */