.title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 1rem;
  input {
    width: 100%;
    border: 1px solid #2e55e7;
    border-radius: 8px;
    font-size: 1rem;
    padding: 0 16px;
    height: 45px;
    font-weight: 700;
    &:focus {
      outline: 0;
    }
    &::placeholder {
      font-weight: 400;
    }
  }
  img {
    width: 24px;
    position: absolute;
    top: 12px;
    right: 6px;
  }
}