.answer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1276px;
  min-height: 88px;
  border: 0;
  border-left: 17px solid #2e55e7;
  border-radius: 5px;
  margin-bottom: 12px;
  background-color: #fff;
  margin: 10px auto 20px;
  position: relative;
  transition: all .3s ease;
  padding: 0 24px 0 66px;

  &--active {
    .answer__arrow {
      top: 32.5px;
    }
  }

  > div {
    height: 88px;

    &:first-child {
      word-break: break-all;
      display: flex;
      align-items: center;
    }
    
    &:nth-child(2) {
      height: 25px;
    }

    &:nth-child(3) {
      width: 100%;
      height: 1px;
      background-color: #d9d9d9;
    }

    &:nth-child(4) {
      width: 100%;
      word-break: break-all;
    }

    // &:nth-child(2) {
    //   min-height: 88px;
    //   max-height: 300px;
    // }

    // height: 88px;
  }

  textarea {
    width: 100%;
    max-height: 300px;
    border: none;
    outline: none;
    resize: none;
    overflow : auto;

    box-sizing: border-box;

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    color: #000000;

    &::-webkit-scrollbar {
      width: 6px;
      background: #DDDDDD;
      border-radius: 20px;
      display: block;

    }

    &::-webkit-scrollbar-thumb {
      width: 6px;
      background: #2E55E7;
      border-radius: 20px;
    }

    margin-top : 20px;
    // padding-right: 35px;
  }

  .answer__area {
    width: 100%;
  }

  .answer__arrow {
    position: absolute;
    top: 32.5px;
    right: 20px;
    width: 20px;
    height: 20px;
    transform: translate(-40%, 0);
    cursor: pointer;

    &.answer__arrow--active {
      
      > span {
        &:first-child {
          transform: rotate(45deg);
        }
        &:last-child {
          transform: rotate(-45deg);
        }
      }
    }

    > span {
      position: absolute;
      top: 5px;
      width: 1px;
      height: 10px;
      background-color: #5C5C5C;

      &:first-child {
        left: 6px;
        transform: rotate(-45deg);
      }

      &:last-child {
        right: 6px;
        transform: rotate(45deg);
      }
    }
  }
}