@import '@/styles/DefaultValueVariable.scss';

.title {
  display             : flex;
  justify-content     : space-between;
  align-items         : center;
  width               : 100%;
  font-size           : $--font-regular;
  margin-block-start  : 1.67em;
  margin-block-end    : 1.67em;

  h5 {
    font-size: $--font-regular;
  }
  
  span {
    display           : inline-flex;
    align-items       : center;
    color             : $--color-gray;
    font-size         : $--font-small;
    cursor            : pointer;
  }
}